body {
  color: var(--ant-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--ant-primary);
}

.logo {
  height: 32px;
  margin: 16px;
  background: var(--ant-primary-1);
  /* Center children */
  line-height: 32px;
  text-align: center;
}

.ant-layout {
  background-color: var(--ant-primary-1);
}

/* .ant-typography h4,
div.ant-typography-h4,
div.ant-typography-h4 > textarea,
h4.ant-typography {
  color: var(--ant-primary);
}

.ant-typography h3,
div.ant-typography-h3,
div.ant-typography-h3 > textarea,
h3.ant-typography {
  margin-bottom: 0.5em;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.35;
} */
