@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #0c122c !important;
  background-color: white !important;
}
.ant-layout {
  background-color: white !important;
  margin-left: 0 !important;
}
.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.search-section {
  padding: 8em 0;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(255, 216, 201);
  background: linear-gradient(
    165deg,
    rgb(255, 226, 214) 0%,
    rgba(255, 255, 255, 0.6615021008403361) 35%
  );
}

.search-section > .hero {
  font-size: 2em;
  max-width: 26rem;
}

.location {
  font-size: 2em;
  color: #ff4500;
}

.caret-down {
  font-size: 1.3em;
  color: #c49e8f;
  vertical-align: -webkit-baseline-middle;
}

.form-search {
  box-shadow: #95959536 0px 0px 20px -5px;
  padding: 10px 15px;
  border-radius: 10px;
  margin-top: 20px;
}
